@multiplier:registry=https://npm.pkg.jetbrains.space/multiplier/p/multiplier/npm/
//npm.pkg.jetbrains.space/multiplier/p/multiplier/npm/:_authToken=eyJhbGciOiJSUzUxMiJ9.eyJzdWIiOiIwODA5YmMzMC0wNDY5LTQxM2YtOThlYy03ZTdjMGYxNGVkZGQiLCJhdWQiOiIwODA5YmMzMC0wNDY5LTQxM2YtOThlYy03ZTdjMGYxNGVkZGQiLCJvcmdEb21haW4iOiJtdWx0aXBsaWVyIiwibmFtZSI6IlJlZ2lzdHJ5IiwiaXNzIjoiaHR0cHM6XC9cL211bHRpcGxpZXIuamV0YnJhaW5zLnNwYWNlIiwicGVybV90b2tlbiI6IjNlR2EwRDQ2cnZNSyIsInByaW5jaXBhbF90eXBlIjoiU0VSVklDRSIsImlhdCI6MTYzMTAyMzA1OH0.k_N-2Rx3kimTvjajkY3gIFpLaoOj1z-ZtkqWtE-gVPgxkT9zsh-MQirm613uBxJbljYhWHoeCzlxw1XzfoDaLnUzQRb6EiquGUoelVkm0IrVIokIJNnKdbl_X5RL9kCJMDbsEQMChDeD51okmXup08GsDBFw-jSCAFkN96Bsmm0
shamefully-hoist=true
